@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div style="text-align:center;border: 10px solid aqua;margin-right: 100px;margin-left: 100px;padding-bottom: 50px;padding-top: 30px; background: black;color: white;">
    <h1>Enterprise Application Development</h1>
    <h1>Assignment 04</h1>
    <hr />
    <h2>Name    : <span style="color: aqua"> Qazi Mateen Ahmad</span>  </h2>
    <h2>Roll No : <span style="color: aqua">BITF17A515</span></h2>
    <h4>Email   : bitf17a515@pucit.edu.pk</h4>
    <h5>Class   : IT-F17-AFTERNOON</h5>
    <hr />
    
    

        

</div>

